.footer {
    border-top: 1px solid black;
    text-align: center;
    width: 100%;
    padding: 10px;
    height: 60px;
    margin-top: 10px;
}

ul {
    padding: 0px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

li {
    text-align: center;
    list-style-type: none;
}